.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin-and-move infinite 5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }


}

.App-header {
  background-color: #198b8b;
  min-height: 0.1vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(1px + 10vmin);
  color: greenyellow;
}

.App-link {
  color: #fb9961;
}

@keyframes App-logo-spin-and-move {
  0%{
    transform: rotate(0deg) translateX(0);
  }
  50%{
    transform: rotate(180deg) translateX(200px);
  }
  100%{
    transform: rotate(360deg) translateX(0);
  }
}

@keyframes App-logo-move {
  0%{
    transform: rotate(0deg) translateX(0);
  }
  50%{
    transform: rotate(180deg) translateX(200px);
  }
  100%{
    transform: rotate(360deg) translateX(0);
  }
}
